.product-detail {
    width: 350px;
    height: 88.5%;
    top: 74px;
}

.conteiner-img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}

.conteiner-img img {
    width: 85%;
    height: 45vh;
}

.conteiner-span {
    display: inline-block;
    max-height: 210px;
    overflow-y: auto;
    margin-top: 15px;
}